@CHARSET "UTF-8";

global {
  fontSize: 10;
  modalTransparency: 0.7;
  modalTransparencyColor: black;
  modalTransparencyDuration: 100;
}

Application {
  paddingTop: 10;
  paddingRight: 10;
  paddingBottom: 10;
  paddingLeft: 10;
  horizontalGap: 5;
  verticalGap: 5;
}

HDividedBox, VDividedBox, Panel {
  cornerRadius: 5;
  paddingTop: 5;
  paddingRight: 5;
  paddingBottom: 5;
  paddingLeft: 5;
}

Panel {
   roundedBottomCorners: true;
   cornerRadius: 5;
   width: '100%';
   height: '100%';
   titleStyleName: 'panelHeader';
   borderAlpha: 0.15;
}
.noPadding {
  paddingTop: 0;
  paddingRight: 0;
  paddingBottom: 0;
  paddingLeft: 0;
}
.panelHeader {
  fontSize: 14;
  fontWeight: bold;
  fontStyle: italic;
}

FormItemLabel {
  fontWeight: bold;
}

.authWindow {
  titleStyleName: "authWindowTitle";
  borderColor: haloRed;
  opacity: 0.15;
}
.authWindowTitle {
  fontSize: 14;
  fontWeight: bold;
  fontStyle: italic;
  color: white;
}

.sensible {
  fillColors: haloOrange, red;
  color: white;
}
