body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 15px;
  background-color: #ccc;
  /* background-image: url(imgs/bg.png); */
  color: #000;
}

div.bodywrapper {
  margin: 0;
  padding: 0;
}
div.header {
  margin: 0;
  padding: 0;
  background-image: url(imgs/header.png);
  background-position: bottom;
  height: 60px;
  font-size: 80%;
  color: #fff;
}
span.copyright {
  padding: 10px 0 0 5px;
  float: left;
}

a, a:hover, a:visited { text-decoration: none; }

ul.nav { margin: 0; padding: 10px 5px 0 0; }
ul.nav li {
  display: block; float: right;
  margin-right: 5px;
  padding-left: 5px;
  border-left: 1px dashed #fff; }
ul.nav li.first { border-left: none; }
ul.nav li a, ul.nav li a:visited {
  color: #fff; text-decoration: none;
}
ul.nav li.active { color: lightgreen; text-decoration: none; }
ul.nav li a:hover { color: lightgreen; text-decoration: none; }

div.contents {
  margin: 0 auto 0 auto;
  width: 99%;
}

div.contents div.message {
  border: 1px solid #fff;
  margin: 0 15px 10px 15px;
  padding: 8px 8px 8px 32px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff url(imgs/info.png) no-repeat 9px 9px;
  border-color: #5d7685;
}

div.contents div.message-error {
  background-image: url(imgs/error.png);
  background-color: #E8B5B5;
}

div.contents div.message-ok {
  background-image: url(imgs/ok.png);
}

.frame { float: left; padding: 10px; }

.form, .form textarea {
  background-color: #fff;
  -moz-border-radius: 7px;
  -webkit-border: 7px;
}
.form legend, .form fieldset {
  background-color: #fff;
  -moz-border-radius: 7px;
  -webkit-border: 7px;
}
.form { -moz-border-radius: 10px; -webkit-border: 10px; }


/*.form input, .form button, .form textarea { background-color: #fff; padding: 2px 5px; }*/
/*.form input[type="checkbox"] { background-color: #5d7685; }*/
.form { margin: 0px 30px 0px 30px; }
.form legend {
  margin-left: 25px;
  padding: 5px 10px;
  border: 1px solid #5d7685;
  margin-bottom: 5px;
}
fieldset.form { border: 1px solid #5d7685; }
/*.form input[type="submit"], .form button {
  background-color: #5d7685; color: #fff; }*/
.form input[type="text"] { width: 300px; }
.form table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  border-spacing: 0;
}

.form table td.nowrap { white-space: nowrap; }

.form table.listing { border-bottom: 1px solid #D7D7D7; }

.form table thead {
  background: #F7F7F0 none repeat scroll 0 0;
  vertical-align: top;
  padding: 0 auto 0 auto;
}
.form table thead th {
  border-color: #D7D7D7 #D7D7D7 #999999;
  border-style: solid;
  border-width: 1px;
}
.form table.listing tbody tr { border-top: 1px solid #DDDDDD; }
.form table.listing tbody td, .form table.listing tbody th {
  border: 1px dotted #DDDDDD;
}
.form table.listing tbody tr.locked, .form table.listing tbody tr.over-quota {
  background-color: #E8B5B5;
}
.form table td.sel, .form table.listing th.sel { width: 1%; }
.form table td, .form table.listing th { width: 20%; }
/*.form table.listing th { width: 100%; }*/
.form table tr.header th { text-align: center; padding: 2px 2px; }
.form table tr th { text-align: right; white-space: nowrap; width: 1%; }
.form table tr td { text-align: left; padding: 2px 2px; }
.form table tr span.help {
  font-size: 60%; text-align: center; font-style: italic;
  padding-top: 15px; }
div.buttons { margin-top: 20px; }

div.pubkey {
  width: 500px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

a button { text-decoration: none; }
