<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:nevow="http://nevow.com/ns/nevow/0.1">
<p>Users List</p>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Added On</th>
      <th>Last Login</th>
      <th>Is Admin</th>
      <th>Locked Out</th>
    </tr>
  </thead>
  <tbody nevow:render="sequence" nevow:data="users">
    <tr nevow:pattern="item" nevow:render="user">
      <td><nevow:slot name="username"/></td>
      <td><nevow:slot name="added_on"/></td>
      <td><nevow:slot name="last_login"/></td>
      <td><nevow:slot name="is_admin"/></td>
      <td><nevow:slot name="locked_out"/></td>
    </tr>
  </tbody>
</table>
</html>

